{
    "swagger": "2.0",
    "info": {
        "version": "2.0",
        "title": "NPR One API Reference",
        "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description"
    },
    "host": "api.npr.org",
    "schemes": [
        "https"
    ],
    "paths": {
        "/authorization/v2/authorize": {
            "get": {
                "operationId": "GET_authorization-v2-authorize",
                "summary": "Get Authorization Page",
                "tags": [
                    "Authorization"
                ],
                "description": "<p>If the parameters passed to this endpoint are correct, it will redirect to <code>npr.org/oauth2/login</code> for the user to complete the sign-in.</p>\n<p>Currently acceptable values for <code>scope</code> are any combination of the following:</p>\n<ul>\n<li><code>identity.readonly</code> - for read-only access to the Identity Service</li>\n<li><code>identity.write</code> - for write access to the Identity Service</li>\n<li><code>listening.readonly</code> - for read-only access to the Listening Service</li>\n<li><code>listening.write</code> - for write access to the Listening Service</li>\n<li><code>localactivation</code> - for all access to the Local Activation Service\nIt is generally suggested that you assume that you will need all of the current scopes in order to successfully implement an NPR One application.</li>\n</ul>\n<p>If the parameters passed in are NOT correct and the client passed in a valid <code>redirect_uri</code> parameter, the request will be redirected to <code>{{YOUR_REDIRECT_URI}}?error={{ERROR_TYPE}}&amp;message={{ERROR_DESCRIPTION}}</code>.\nIf the parameters passed are NOT correct and the client did not pass in a valid <code>redirect_uri</code> parameter, this endpoint will return the errors encoded as JSON objects (along with the corresponding HTTP status code -- usually 400).\nThe latter is intended for development and debugging purposes -- in a real-world situation, errors returned as JSON objects are irretrievable by the client application, and thus passing in a valid <code>redirect_uri</code> is critical even for the purpose of capturing errors.</p>\n<p>If the user successfully logs in and authorizes the application, the request will be redirected to <code>{{YOUR_REDIRECT_URI}}?code={{AUTHORIZATION_CODE}}&amp;state={{CSRF_TOKEN}}</code></p>\n<p>If the user DENIES the application, they will be redirected to <code>{{YOUR_REDIRECT_URI}}?error=denied&amp;message=The%20user%20has%20denied%20the%20login%20and%20access%20request&amp;state={{CSRF_TOKEN}}</code>.\nThis means that if your application flow requires a user to log in in order to proceed, it is up to you to give them the proper messaging explaining that the sign-in must be authorized in order to continue.</p>\n<p>Finally, please do not confuse an authorization code with an access token. Once your app has completed this flow, you will still need to call <code>POST /authorization/v2/token</code> in order to swap the code for a valid access token.</p>",
                "produces": [
                    "text/html"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "The client's ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "redirect_uri",
                        "in": "query",
                        "description": "The client's URL to redirect to if the authentication is approved",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "response_type",
                        "in": "query",
                        "description": "The type of response; currently, only `code` is supported",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "code"
                        ]
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "A space-separated list of scope(s) requested by the application",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "A CSRF token generated by the client, to be roundtripped through the request for added security",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "302": {
                        "description": "The correct parameters were passed in and we are redirecting to the authentication page; OR, a valid `redirect_uri` was supplied but there was another error, and the error type and message are embedded in the querystring.",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "A bad request; generally, one or more parameters passed in were incorrect or missing. This error will only be shown if the client did not pass in a valid `redirect_uri`; otherwise, all errors will be returned as 302s to the supplied `redirect_uri`, with the error type and message embedded in the querystring.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "401": {
                        "description": "The client credentials were invalid (i.e., the `redirect_uri` does not match what we have stored for this client) or the authorization server denied the request. This error will only be shown if the client did not pass in a valid `redirect_uri`; otherwise, all errors will be returned as 302s to the supplied `redirect_uri`, with the error type and message embedded in the querystring.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "500": {
                        "description": "There was an unspecified server error. This error will only be shown if the client did not pass in a valid `redirect_uri`; otherwise, all errors will be returned as 302s to the supplied `redirect_uri`, with the error type and message embedded in the querystring.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "503": {
                        "description": "The system is undergoing maintenance and we are unable to fulfill this request. This error will only be shown if the client did not pass in a valid `redirect_uri`; otherwise, all errors will be returned as 302s to the supplied `redirect_uri`, with the error type and message embedded in the querystring.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    }
                }
            }
        },
        "/authorization/v2/token": {
            "post": {
                "operationId": "POST_authorization-v2-token",
                "summary": "Create Token",
                "tags": [
                    "Authorization"
                ],
                "description": "<p>Please be aware that the required parameters are contingent on the <code>grant_type</code> that you select.</p>\n<p>For the <code>authorization_code</code> grant type, you are <strong>required</strong> to pass in the <code>code</code> and <code>redirect_uri</code> parameters. <code>service</code>, <code>username</code> and <code>password</code> parameters will be ignored.</p>\n<p>For the <code>client_credentials</code> grant type, you do not need to pass in any additional parameters beyond the basic requirements. <code>code</code>, <code>redirect_uri</code>, <code>service</code>, <code>username</code> and <code>password</code> parameters will be ignored.</p>\n<p>For the <code>device_code</code> grant type, you are <strong>required</strong> to pass in the <code>code</code> parameter. <code>redirect_uri</code>, <code>service</code>, <code>username</code> and <code>password</code> parameters will be ignored.</p>\n<p>For the <code>password</code> grant type, you are <strong>required</strong> to pass in the <code>username</code> and <code>password</code> parameters. If you are logging in via a social service, you should also pass in the <code>service</code> parameter. (In this case, the access token you receive from the social service will serve as both your username and password.) The <code>code</code> and <code>redirect_uri</code> parameters are ignored.\nThird-party developers do not have access to this grant type.</p>\n<p>The <code>temporary_user</code> grant type is a custom grant type created by NPR to suit our needs for functionality such as our &quot;try-before-you-buy&quot; experience. If you are a third-party developer, you will not have access to this grant type unless we have explicitly given you permission within our system.\nFor this grant type, you do not need to pass in any additional parameters beyond the basic requirements. <code>code</code>, <code>redirect_uri</code>, <code>service</code>, <code>username</code> and <code>password</code> parameters will be ignored.</p>\n<p>If you are unsure of which grant type to select, assume that <code>authorization_code</code> is the one you want.</p>",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "grant_type",
                        "in": "formData",
                        "description": "The type of grant the client is requesting",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "authorization_code",
                            "client_credentials",
                            "device_code",
                            "password",
                            "temporary_user"
                        ]
                    },
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "The client's ID, required for all grant types.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_secret",
                        "in": "formData",
                        "description": "The client's secret, required for all grant types.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "Required for `authorization_code` and `device_code` grant types. The authorization code from a successful call to `/authorization/v2/authorize`, or a device code from a successful call to `/authorization/v2/device`.",
                        "type": "string"
                    },
                    {
                        "name": "redirect_uri",
                        "in": "formData",
                        "description": "Required for `authorization_code` grant type. The requested redirect_uri.",
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "Required for `password` grant type. The email address of an NPR user.",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "Required for `password` grant type. The password that matches the user specified with the username parameter.",
                        "type": "string"
                    },
                    {
                        "name": "service",
                        "in": "formData",
                        "description": "If logging in via a social service, this parameter should be set. Only used for the `password` grant type.",
                        "type": "string",
                        "enum": [
                            "facebook",
                            "google",
                            "microsoft",
                            "janrain"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A new token was successfully created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "access_token": {
                                    "description": "The access token to use for all future calls",
                                    "type": "string"
                                },
                                "token_type": {
                                    "description": "Identifies the type of token returned. At this time, this field always has the value `Bearer`.",
                                    "type": "string",
                                    "enum": [
                                        "Bearer",
                                        "MAC"
                                    ]
                                },
                                "expires_in": {
                                    "description": "The remaining lifetime of the access token",
                                    "type": "integer",
                                    "format": "int32"
                                }
                            },
                            "required": [
                                "access_token",
                                "token_type",
                                "expires_in"
                            ]
                        }
                    },
                    "400": {
                        "description": "A bad request; generally, one or more parameters passed in were incorrect or missing",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "401": {
                        "description": "The client credentials were invalid (any grant type), the user credentials were invalid (`password` grant type), the user has not yet logged in or has purposely denied the request (`device_code` grant type), or the authorization server denied the request.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "500": {
                        "description": "A server error",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "503": {
                        "description": "The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    }
                }
            }
        },
        "/authorization/v2/token/revoke": {
            "post": {
                "operationId": "POST_authorization-v2-token-revoke",
                "summary": "Revoke Token",
                "tags": [
                    "Authorization"
                ],
                "description": "<p>Our implementation follows the proposed IETF specification <a href=\"https://tools.ietf.org/html/rfc7009\" target=\"_blank\">RFC-7009</a>.</p>\n<p>If your client application offers the ability to for a logged-in user to log out, and you have access to a long-lived\n<code>client_credentials</code> token (i.e. you have generated one that you are storing securely for the lifetime of the entire app\ninstall), we suggest (but do not require) that you call this endpoint and revoke the access token belonging to the\nlogged-in user as part of your logout process. If you do not already have a long-lived <code>client_credentials</code> token,\nplease don't generate one just for the purposes of calling this endpoint.</p>\n<p>If you are building a prototype application, we also recommend that you use this endpoint to clean up access tokens\nthat you generate during the testing of your app and do not intend to reuse.</p>",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "The token that the client wants to get revoked.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token_type_hint",
                        "in": "formData",
                        "description": "A hint about the type of the token submitted for revocation. Note that at present, our system does not issue refresh tokens, so unless otherwise directed, the value (if passed in) should always be `access_token`.",
                        "type": "string",
                        "enum": [
                            "access_token",
                            "refresh_token"
                        ]
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "testing",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The old token was successfully revoked",
                        "schema": {
                            "description": "An empty JSON object",
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "A bad request; generally, one or more parameters passed in were incorrect or missing",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "401": {
                        "description": "The client credentials were invalid or the authorization server denied the request.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "403": {
                        "description": "The client associated with the access token in the header does not own the access token that this request is attempting to revoke.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "500": {
                        "description": "A server error",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "503": {
                        "description": "The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    }
                }
            }
        },
        "/authorization/v2/device": {
            "post": {
                "operationId": "POST_authorization-v2-device",
                "summary": "Generate Device Code",
                "tags": [
                    "Authorization"
                ],
                "description": "<p>This flow should only be used by clients who cannot show a native webview or do not have advanced input controls. It is an alternative to <code>GET /authorization/v2/authorize</code>.</p>\n<p>Third-party clients will need to use one or the other of these two endpoints, but they will generally not use both.</p>",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "The client's ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "client_secret",
                        "in": "formData",
                        "description": "The client's secret key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "scope",
                        "in": "formData",
                        "description": "A space-separated list of scope(s) requested by the application. Required for all untrusted clients; will be ignored for trusted clients.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "We have generated a unique device code and user code. These will only be valid for the amount of time specified in the `expires_in` field; if the user does not complete the login process in that amount of time, the client will need to request a new set of codes.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "device_code": {
                                    "description": "40-character code for the device to input into the /token endpoint, not for display to the user",
                                    "type": "string"
                                },
                                "user_code": {
                                    "description": "6-character alphanumeric code for the user to enter at http://npr.org/device, to be displayed by the client application",
                                    "type": "string"
                                },
                                "verification_uri": {
                                    "description": "The URL where the user should input their code, to be displayed by the client application",
                                    "type": "string",
                                    "default": "http://npr.org/device"
                                },
                                "expires_in": {
                                    "description": "The number of seconds for which this set of codes will be valid, after which they will be purged",
                                    "type": "integer",
                                    "format": "int32",
                                    "default": 1800
                                },
                                "interval": {
                                    "description": "The number of seconds the client application should maintain between requests to the /token endpoint",
                                    "type": "integer",
                                    "format": "int32",
                                    "default": 5
                                }
                            },
                            "required": [
                                "device_code",
                                "user_code",
                                "verification_uri",
                                "expires_in",
                                "interval"
                            ]
                        }
                    },
                    "400": {
                        "description": "A bad request; generally, one or more parameters passed in were incorrect or missing",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "401": {
                        "description": "The client credentials were invalid or the authorization server denied the request.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "500": {
                        "description": "A server error",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    },
                    "503": {
                        "description": "The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.",
                        "schema": {
                            "description": "A simple representation of an error result from an API call, rarely used; in most cases we still return a Collection.doc+JSON document for errors",
                            "type": "object",
                            "properties": {
                                "message": {
                                    "description": "A message describing the error that occurred",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "A short string representing the type of error that occurred",
                                    "type": "string",
                                    "default": "error"
                                }
                            },
                            "required": [
                                "message",
                                "type"
                            ]
                        }
                    }
                }
            }
        },
        "/identity/v2/following": {
            "post": {
                "operationId": "POST_identity-v2-following",
                "summary": "Post Following",
                "tags": [
                    "Identity"
                ],
                "description": "<p>After a successful call, this returns a User document with an updated list of affiliations.</p>",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "description": "A program (aggregation) that a given user has shown an affiliation with",
                            "type": "object",
                            "properties": {
                                "id": {
                                    "description": "A unique identifier for the aggregation (program)",
                                    "type": "integer",
                                    "format": "int64"
                                },
                                "rating": {
                                    "description": "The user's average rating for this affiliation on a scale of 0-1. Absent if user never listened to the aggregation.",
                                    "type": "number",
                                    "format": "float"
                                },
                                "href": {
                                    "description": "A link to more details about the program from the NPR Story API",
                                    "type": "string"
                                },
                                "daysSinceLastListen": {
                                    "description": "The number of days since a user last listened to a story from this aggregation. Absent if user never listened to the aggregation.",
                                    "type": "integer",
                                    "format": "int32"
                                },
                                "following": {
                                    "description": "Whether or not the user is following the aggregation. When changing affiliation status, the client is expected to toggle this value and then send the entire object back.",
                                    "type": "boolean",
                                    "default": false
                                }
                            },
                            "required": [
                                "id",
                                "href",
                                "following"
                            ]
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The request was successful",
                        "schema": {
                            "allOf": [
                                {
                                    "description": "Base Collection.Doc+JSON output",
                                    "properties": {
                                        "version": {
                                            "description": "The version of the Collection.Doc+JSON spec being used",
                                            "type": "string",
                                            "default": 1
                                        },
                                        "href": {
                                            "description": "A URL representation of the resource; should generally be ignored by clients unless noted otherwise",
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "href",
                                        "attributes",
                                        "items",
                                        "links",
                                        "errors"
                                    ]
                                },
                                {
                                    "properties": {
                                        "items": {
                                            "description": "Not used, ignored on a PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "description": "A list of links, not used by the Identity Service; ignored on a PUT",
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "description": "Object; see description of a user object below",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "description": "Some unique identifier for the user",
                                                    "type": "string"
                                                },
                                                "firstName": {
                                                    "description": "The user's first name",
                                                    "type": "string"
                                                },
                                                "lastName": {
                                                    "description": "The user's last name",
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "description": "The user's email address",
                                                    "type": "string"
                                                },
                                                "cohort": {
                                                    "description": "Experimental groupings for User Experience A/B Testing",
                                                    "type": "object",
                                                    "required": [
                                                        "id",
                                                        "name"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "description": "A short ID for this cohort; ignored on a PUT",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "A text string identifying the cohort, useful for metrics; ignored on a PUT",
                                                            "type": "string"
                                                        },
                                                        "directory": {
                                                            "description": "For internal use only; represents the current configuration file being used by the Listening Service",
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "organizations": {
                                                    "description": "User's chosen NPR Member Station(s)",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "A station that a user has an affiliation with",
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Some unique identifier for the organization for the user",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "A short displayable text field for the end user, strictly text; ignored on PUT",
                                                                "type": "string"
                                                            },
                                                            "call": {
                                                                "description": "Station call letters",
                                                                "type": "string"
                                                            },
                                                            "city": {
                                                                "description": "A short description of the station's main market city",
                                                                "type": "string"
                                                            },
                                                            "logo": {
                                                                "description": "Station logo image url",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "displayName",
                                                            "call",
                                                            "city"
                                                        ]
                                                    }
                                                },
                                                "affiliations": {
                                                    "description": "Program(s) that the user has positively interacted with",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "A program (aggregation) that a given user has shown an affiliation with",
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "A unique identifier for the aggregation (program)",
                                                                "type": "integer",
                                                                "format": "int64"
                                                            },
                                                            "rating": {
                                                                "description": "The user's average rating for this affiliation on a scale of 0-1. Absent if user never listened to the aggregation.",
                                                                "type": "number",
                                                                "format": "float"
                                                            },
                                                            "href": {
                                                                "description": "A link to more details about the program from the NPR Story API",
                                                                "type": "string"
                                                            },
                                                            "daysSinceLastListen": {
                                                                "description": "The number of days since a user last listened to a story from this aggregation. Absent if user never listened to the aggregation.",
                                                                "type": "integer",
                                                                "format": "int32"
                                                            },
                                                            "following": {
                                                                "description": "Whether or not the user is following the aggregation. When changing affiliation status, the client is expected to toggle this value and then send the entire object back.",
                                                                "type": "boolean",
                                                                "default": false
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "href",
                                                            "following"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "cohort",
                                                "organizations"
                                            ]
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "A bad request; generally, one or more parameters passed in were incorrect or missing",
                        "schema": {
                            "description": "A Collection.doc+JSON representation of an error result from an API call",
                            "allOf": [
                                {
                                    "description": "Base Collection.Doc+JSON output",
                                    "properties": {
                                        "version": {
                                            "description": "The version of the Collection.Doc+JSON spec being used",
                                            "type": "string",
                                            "default": 1
                                        },
                                        "href": {
                                            "description": "A URL representation of the resource; should generally be ignored by clients unless noted otherwise",
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "href",
                                        "attributes",
                                        "items",
                                        "links",
                                        "errors"
                                    ]
                                },
                                {
                                    "properties": {
                                        "attributes": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "items": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "description": "A serialized version of any error encountered when processing this request",
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "description": "The error code",
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "text": {
                                                        "description": "The error description",
                                                        "type": "string"
                                                    },
                                                    "debug": {
                                                        "description": "Additional debug information if debug mode is turned on",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code"
                                                ]
                                            }
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "The client is not authorized to complete this request. Check to ensure a valid access token was passed in the headers.",
                        "schema": {
                            "description": "A Collection.doc+JSON representation of an error result from an API call",
                            "allOf": [
                                {
                                    "description": "Base Collection.Doc+JSON output",
                                    "properties": {
                                        "version": {
                                            "description": "The version of the Collection.Doc+JSON spec being used",
                                            "type": "string",
                                            "default": 1
                                        },
                                        "href": {
                                            "description": "A URL representation of the resource; should generally be ignored by clients unless noted otherwise",
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "href",
                                        "attributes",
                                        "items",
                                        "links",
                                        "errors"
                                    ]
                                },
                                {
                                    "properties": {
                                        "attributes": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "items": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "description": "A serialized version of any error encountered when processing this request",
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "description": "The error code",
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "text": {
                                                        "description": "The error description",
                                                        "type": "string"
                                                    },
                                                    "debug": {
                                                        "description": "Additional debug information if debug mode is turned on",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code"
                                                ]
                                            }
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    "429": {
                        "description": "The client has exceeded the number of daily calls as per their rate limit. For now, this only applies to prototype applications and untrusted clients. Trusted clients will never be rate-limited, nor will any production apps.",
                        "schema": {
                            "description": "A Collection.doc+JSON representation of an error result from an API call",
                            "allOf": [
                                {
                                    "description": "Base Collection.Doc+JSON output",
                                    "properties": {
                                        "version": {
                                            "description": "The version of the Collection.Doc+JSON spec being used",
                                            "type": "string",
                                            "default": 1
                                        },
                                        "href": {
                                            "description": "A URL representation of the resource; should generally be ignored by clients unless noted otherwise",
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "href",
                                        "attributes",
                                        "items",
                                        "links",
                                        "errors"
                                    ]
                                },
                                {
                                    "properties": {
                                        "attributes": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "items": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "description": "A serialized version of any error encountered when processing this request",
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "description": "The error code",
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "text": {
                                                        "description": "The error description",
                                                        "type": "string"
                                                    },
                                                    "debug": {
                                                        "description": "Additional debug information if debug mode is turned on",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code"
                                                ]
                                            }
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    "500": {
                        "description": "A server error",
                        "schema": {
                            "description": "A Collection.doc+JSON representation of an error result from an API call",
                            "allOf": [
                                {
                                    "description": "Base Collection.Doc+JSON output",
                                    "properties": {
                                        "version": {
                                            "description": "The version of the Collection.Doc+JSON spec being used",
                                            "type": "string",
                                            "default": 1
                                        },
                                        "href": {
                                            "description": "A URL representation of the resource; should generally be ignored by clients unless noted otherwise",
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "href",
                                        "attributes",
                                        "items",
                                        "links",
                                        "errors"
                                    ]
                                },
                                {
                                    "properties": {
                                        "attributes": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "items": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "description": "A serialized version of any error encountered when processing this request",
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "description": "The error code",
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "text": {
                                                        "description": "The error description",
                                                        "type": "string"
                                                    },
                                                    "debug": {
                                                        "description": "Additional debug information if debug mode is turned on",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code"
                                                ]
                                            }
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    },
                    "503": {
                        "description": "The system is undergoing maintenance and we are unable to fulfill this request. Look for a `Retry-After` header to see the predicted time the system will be back up.",
                        "schema": {
                            "description": "A Collection.doc+JSON representation of an error result from an API call",
                            "allOf": [
                                {
                                    "description": "Base Collection.Doc+JSON output",
                                    "properties": {
                                        "version": {
                                            "description": "The version of the Collection.Doc+JSON spec being used",
                                            "type": "string",
                                            "default": 1
                                        },
                                        "href": {
                                            "description": "A URL representation of the resource; should generally be ignored by clients unless noted otherwise",
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "href",
                                        "attributes",
                                        "items",
                                        "links",
                                        "errors"
                                    ]
                                },
                                {
                                    "properties": {
                                        "attributes": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "items": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "description": "Ignore; will be empty for errors",
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "description": "A serialized version of any error encountered when processing this request",
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "description": "The error code",
                                                        "type": "integer",
                                                        "format": "int32"
                                                    },
                                                    "text": {
                                                        "description": "The error description",
                                                        "type": "string"
                                                    },
                                                    "debug": {
                                                        "description": "Additional debug information if debug mode is turned on",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "code"
                                                ]
                                            }
                                        }
                                    }
                                }
                            ],
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/identity/v2/user/inherit": {
            "post": {
                "operationId": "POST_identity-v2-user-inherit",
                "summary": "Inherit From Temp User",
                "tags": [
                    "Identity"
                ],
                "description": "<p>This can and should only be used by clients who have access to the <code>temporary_user</code> grant type.\nThird-party developers do not have access to this grant type by default, and will not need this endpoint.</p>",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "temp_user",
                        "in": "query",
                        "description": "The temporary user's ID before the user registered or logged in",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Your access token from the Authorization Service. Should start with `Bearer`, followed by a space, followed by the token.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "The request was successful",
                        "schema": {
                            "allOf": [
                                {
                                    "description": "Base Collection.Doc+JSON output",
                                    "properties": {
                                        "version": {
                                            "description": "The version of the Collection.Doc+JSON spec being used",
                                            "type": "string",
                                            "default": 1
                                        },
                                        "href": {
                                            "description": "A URL representation of the resource; should generally be ignored by clients unless noted otherwise",
                                            "type": "string"
                                        },
                                        "attributes": {
                                            "type": "object"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "errors": {
                                            "description": "A list of encountered errors, ignored on POST, PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "href",
                                        "attributes",
                                        "items",
                                        "links",
                                        "errors"
                                    ]
                                },
                                {
                                    "properties": {
                                        "items": {
                                            "description": "Not used, ignored on a PUT",
                                            "type": "array",
                                            "items": {
                                                "type": "null"
                                            }
                                        },
                                        "links": {
                                            "description": "A list of links, not used by the Identity Service; ignored on a PUT",
                                            "type": "object"
                                        },
                                        "attributes": {
                                            "description": "Object; see description of a user object below",
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "description": "Some unique identifier for the user",
                                                    "type": "string"
                                                },
                                                "firstName": {
                                                    "description": "The user's first name",
                                                    "type": "string"
                                                },
                                                "lastName": {
                                                    "description": "The user's last name",
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "description": "The user's email address",
                                                    "type": "string"
                                                },
                                                "cohort": {
                                                    "description": "Experimental groupings for User Experience A/B Testing",
                                                    "type": "object",
                                                    "required": [
                                                        "id",
                                                        "name"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "description": "A short ID for this cohort; ignored on a PUT",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "A text string identifying the cohort, useful for metrics; ignored on a PUT",
                                                            "type": "string"
                                                        },
                                                        "directory": {
                                                            "description": "For internal use only; represents the current configuration file being used by the Listening Service",
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "organizations": {
                                                    "description": "User's chosen NPR Member Station(s)",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "A station that a user has an affiliation with",
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Some unique identifier for the organization for the user",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "A short displayable text field for the end user, strictly text; ignored on PUT",
                                                                "type": "string"
                                                            },
                                                            "call": {
                                                                "description": "Station call letters",
                                                                "type": "string"
                                                            },
                                                            "city": {
                                                                "description": "A short description of the station's main market city",
                                                                "type": "string"
                                                            },
                                                            "logo": {
                                                                "description": "Station logo image url",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "displayName",
                                                            "call",
                                                            "city"
                                                        ]
                                                    }
                                                },
                                                "affiliations": {
                                                    "description": "Program(s) that the user has positively interacted with",
                                                    "type": "array",
                                                    "items": {
                                                        "description": "A program (aggregation) that a given user has shown an affiliation with",
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "A unique identifier for the aggregation (program)",
                                                                "type": "integer",
                                                                "format": "int64"
                                                            },
                                                            "rating": {
[...]
