{
    "swagger": "2.0",
    "info": {
        "version": "2.0",
        "title": "dice-talent-public",
        "description": "Dice public talent search endpoints"
    },
    "host": "talent-api.dice.com",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "oauth2": {
            "type": "oauth2",
            "flow": "application",
            "scopes": {},
            "tokenUrl": "https://secure.dice.com/oauth/token"
        }
    },
    "paths": {
        "/v2/profiles/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "Profile ID.",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "operationId": "GET_v2-profiles-id",
                "summary": "Profile",
                "description": "Retrieves a specific profile by id. Public facing. The ID of the profile may be the 40 character canonical ID as expressed in the search end-point or the legacy ID:\n* The 32 character dockey or 40 character pid from api.dice.com\n* The 34 or 42 character id from talent-api.dice.com/v1\n\nIf the resume cannot be retrieved, the rest of the profile data will still be returned to the caller successfully",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "originalFormat",
                        "in": "query",
                        "description": "Specify true to include the original resume format; false (or missing) to include the PDF version of the resume.",
                        "type": "boolean",
                        "default": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/profileresponse"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "data": {
                                    "id": "proident et commodo",
                                    "firstName": "labore nulla",
                                    "lastName": "eu nisi id ut dolor",
                                    "locations": [
                                        {
                                            "countryCode": "aute sunt",
                                            "region": "ex in ad",
                                            "country": "mollit minim laboris voluptate est",
                                            "longitude": -25972777,
                                            "source": "fugiat dolor"
                                        },
                                        {
                                            "countryCode": "ad",
                                            "city": "laborum nos",
                                            "latitude": -64153995,
                                            "postalCode": "ullamco id volupta"
                                        },
                                        {
                                            "countryCode": "Duis",
                                            "city": "irure nulla officia deserunt",
                                            "postalCode": "cillum"
                                        },
                                        {},
                                        {
                                            "countryCode": "voluptate reprehenderit consequat cupidatat",
                                            "postalCode": "aliquip deserunt Ut",
                                            "region": "exercitation laboris consectetur quis",
                                            "source": "esse",
                                            "latitude": -44581904
                                        }
                                    ],
                                    "email": [
                                        "anim Lorem",
                                        "commodo",
                                        "exercitation dolor anim minim",
                                        "dolor in voluptate occaecat",
                                        "in"
                                    ],
                                    "phone": [
                                        "culpa labore nisi ut amet"
                                    ],
                                    "fax": [
                                        "dolor fugiat anim mollit deserunt",
                                        "in consectetur minim",
                                        "est",
                                        "dolor sunt consectetur eu laboris",
                                        "tempor"
                                    ],
                                    "experience": {
                                        "current": {
                                            "title": "consequat fugiat",
                                            "org": "et cillum",
                                            "location": "magna occaecat voluptate",
                                            "periodStart": {
                                                "year": 97906125,
                                                "month": 16489430,
                                                "day": -23956006
                                            },
                                            "periodEnd": {
                                                "year": 518051,
                                                "month": 70590018,
                                                "day": 59013291
                                            }
                                        },
                                        "history": [
                                            {},
                                            {
                                                "title": "nulla nisi ipsum",
                                                "periodStart": {
                                                    "year": -42915611,
                                                    "month": -71335328,
                                                    "day": -67364815
                                                }
                                            }
                                        ]
                                    },
                                    "education": [
                                        {},
                                        {},
                                        {
                                            "description": "cupidatat in",
                                            "degree": "do aute et laboris est",
                                            "org": "ea amet"
                                        }
                                    ],
                                    "workPreference": [
                                        {
                                            "annualSalary": {
                                                "min": -29691990,
                                                "max": -87830727,
                                                "currency": "est"
                                            },
                                            "preferredWorkLocations": [
                                                {
                                                    "latitude": -73891153,
                                                    "postalCode": "non cupidatat nisi voluptate elit",
                                                    "country": "Lorem",
                                                    "countryCode": "Lorem non minim dolor et"
                                                },
                                                {
                                                    "country": "ut sint in nostrud",
                                                    "longitude": 31722304,
                                                    "source": "sint Lorem dolore in proident",
                                                    "city": "laboris et occaecat dolor",
                                                    "latitude": 25717212,
                                                    "countryCode": "pariatur qui"
                                                }
                                            ],
                                            "employmentType": "part time"
                                        },
                                        {
                                            "annualSalary": {
                                                "min": -14209418,
                                                "max": 32333110,
                                                "currency": "minim sunt aliquip ullamco"
                                            }
                                        }
                                    ],
                                    "imageUrl": "sunt anim sint do aute",
                                    "likelyToMove": false,
                                    "likelyToMoveScore": 58244129,
                                    "socialProfiles": [
                                        {},
                                        {},
                                        {
                                            "source": "sed esse"
                                        },
                                        {
                                            "source": "aute sint"
                                        },
                                        {}
                                    ],
                                    "skills": [
                                        {
                                            "score": -30854400
                                        },
                                        {
                                            "lastUsed": -10557325,
                                            "score": -61555523
                                        },
                                        {
                                            "skill": "aliqua"
                                        },
                                        {}
                                    ],
                                    "hasVeteranStatus": false,
                                    "resume": {
                                        "filename": "officia sed adipisicing voluptate pariatur",
                                        "resumeHtml": "dolor proident minim ullamco consectetur",
                                        "resumeData": "magna"
                                    },
                                    "isRecruiter": true,
                                    "yearsOfExperience": 19992512
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        },
                        "examples": {
                            "application/json": {
                                "statusCode": 400,
                                "errorCode": "1",
                                "message": "The required Profile ID suffix is missing. Valid suffixes are _i (integrated), _o (open web) or _t (Dice talent match).",
                                "developerMessage": "The required Profile ID suffix is missing.",
                                "fieldMessages": [
                                    {
                                        "field": "id",
                                        "errorCode": "The required Profile ID suffix is missing. Valid suffixes are _i (integrated), _o (open web) or _t (Dice talent match)."
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        }
                    },
                    "404": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        }
                    },
                    "429": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        }
                    },
                    "502": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        }
                    },
                    "504": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/request-error"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v2/profiles/search": {
            "post": {
                "operationId": "POST_v2-profiles-search",
                "summary": "Profiles Search",
                "description": "Performs a Dice talent search.  A maximum of 10000 results will be returned by the search.  PageSize * Page will not go past 10,000",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/search-model"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/profilesearchresponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "429": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "502": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "504": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "get": {
                "operationId": "GET_v2-profiles-search",
                "summary": "Profiles Search",
                "description": "Performs a Dice talent search.  A maximum of 10000 results will be returned by the search.  PageSize * Page will not go past 10,000",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Specifies a full-text query string across all search fields.\n\nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3; spaces must be URL encoded.\n\nThe search is case-insensitive.\n\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\n\nThe search supports logical operators AND/OR: q=term1 OR term2\nExample: \"Mechanical Engineer\" OR mechanic\n",
                        "type": "string"
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "Specifies the central location of the search.   Can enter lat,long\nExample  location=London\nExample location=41.3434,19.332\n\nEither q or location or both are required for a search",
                        "type": "string"
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "",
                        "type": "string",
                        "default": "relevancy",
                        "enum": [
                            "relevancy",
                            "activityDate",
                            "dateResumeLastUpdated"
                        ]
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Valid range is 1 to 50",
                        "type": "integer",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 1000
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Specifies the number of profiles returned per page",
                        "type": "integer",
                        "default": 25,
                        "minimum": 1,
                        "maximum": 100
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "description": "Specifies the distance from the central location.\nExample: 25.",
                        "type": "integer",
                        "default": 50
                    },
                    {
                        "name": "distanceUnit",
                        "in": "query",
                        "description": "Specifies the distance unit of measure to use. ",
                        "type": "string",
                        "default": "miles",
                        "enum": [
                            "miles",
                            "km"
                        ]
                    },
                    {
                        "name": "countryCode",
                        "in": "query",
                        "description": "Specifies the ISO 3166-1 Alpha 2 country code of the search.\nMultiple values can be specified using  commas, example US,GB.  ",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hasEmail",
                        "in": "query",
                        "description": "When True filters results to only those profiles having an email address.",
                        "type": "boolean"
                    },
                    {
                        "name": "hasPhoneNumber",
                        "in": "query",
                        "description": "When True filters results to only those profiles having a phone number.",
                        "type": "boolean"
                    },
                    {
                        "name": "willingToRelocate",
                        "in": "query",
                        "description": "Set to true to only include candidates willing to relocate. If a location is set on the search as well, exclude candidates currently in that location and include candidates with a preferred work area of that location or an unspecified preferred work area.\nNOTE: If set to false, the filter is ignored",
                        "type": "boolean"
                    },
                    {
                        "name": "searchType",
                        "in": "query",
                        "description": "Candidate types that are being searched. ",
                        "type": "string",
                        "default": "Integrated",
                        "enum": [
                            "Resume",
                            "OpenWeb",
                            "Integrated"
                        ]
                    },
                    {
                        "name": "company",
                        "in": "query",
                        "description": "Specifies a company from the company facet.\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                        "type": "string"
                    },
                    {
                        "name": "skills",
                        "in": "query",
                        "description": "Specifies a skill from the skill facet (case sensitive).\nMultiple values can be specified by either a comma (,) or a caret (^). A comma indicates OR; a caret indicates AND. Note that parentheses are not supported and operators cannot be combined. \nExamples: skills=Java,Python,JavaScript or skills=Java^PHP^MySQL",
                        "type": "string"
                    },
                    {
                        "name": "jobTitle",
                        "in": "query",
                        "description": "Specifies a jobTitle from the jobTitle facet\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                        "type": "string"
                    },
                    {
                        "name": "educationDegree",
                        "in": "query",
                        "description": "Specifies an education degree from the education degree facet\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                        "type": "string",
                        "enum": [
                            "",
                            "high school",
                            "bachelors",
                            "associate",
                            "vocational school",
                            "masters",
                            "military service",
                            "mba"
                        ]
                    },
                    {
                        "name": "workPermit",
                        "in": "query",
                        "description": "Specifies a work permit from the work permits facet\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                        "type": "string",
                        "enum": [
                            "",
                            "us citizenship",
                            "green card",
                            "employment auth document",
                            "have h1",
                            "need h1",
                            "have j1",
                            "tn permit holder"
                        ]
                    },
                    {
                        "name": "employmentType",
                        "in": "query",
                        "description": "Specifies an employment from the employment type facet\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                        "type": "string",
                        "enum": [
                            "",
                            "full-time",
                            "contract - w2",
                            "contract to hire - w2",
                            "contract to hire - independent",
                            "contract - independent",
                            "part-  time",
                            "contract to hire - corp-to-corp",
                            "contract - corp-to-corp",
                            "1099 employee",
                            "announced",
                            "corp-to-corp",
                            "eb-1",
                            "eb-2",
                            "eb-3",
                            "h-1b",
                            "h-4",
                            "independent",
                            "j-1",
                            "j-2",
                            "tax term",
                            "w-2",
                            "w-2 / 1099"
                        ]
                    },
                    {
                        "name": "annualSalary",
                        "in": "query",
                        "description": "Desired annual salary.  For a salary range [50000 TO 60000]  ",
                        "type": "string",
                        "default": ""
                    },
                    {
                        "name": "hourlyRate",
                        "in": "query",
                        "description": "Desired hourly rate of pay.  For a rate range you can send [50 TO 60] ",
                        "type": "string"
                    },
                    {
                        "name": "currencyCode",
                        "in": "query",
                        "description": "Specifies the currency to use when filtering by annual salary or hourly rate.  By default currency is not restricted",
                        "type": "string",
                        "default": "USD",
                        "enum": [
                            "",
                            "USD",
                            "GBP",
                            "EUR",
                            "CAD"
                        ]
                    },
                    {
                        "name": "lastActive",
                        "in": "query",
                        "description": "Include only people that were active (logged in to their profile) in the last x number of days.",
                        "type": "integer"
                    },
                    {
                        "name": "yearsOfExperience",
                        "in": "query",
                        "description": "Filters results to only those where the time of experience is at least x or more years, or in the range.\n\nExample   4 \nExample  [ 0 to 3]",
                        "type": "string"
                    },
                    {
                        "name": "socialProfiles",
                        "in": "query",
                        "description": "Filter to return candidates with accounts from certain sites, e.g. github, stackoverflow, twitter\n\nWe support several hundred sites, but our list changes so we are choosing not to publish the list.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "likelyToSwitch",
                        "in": "query",
                        "description": "When set to true, candidates are filtered to those who have logged in during the past 60 days or those who have shown cues related to job switching.",
                        "type": "boolean"
                    },
                    {
                        "name": "facets",
                        "in": "query",
                        "description": "The name of the facet(s) to include in the response. Example facets=company,skills,jobTitle,employmentType,educationDegree,workPermit",
                        "type": "string",
                        "default": "",
                        "enum": [
                            "",
                            "company",
                            "skills",
                            "jobTitle",
                            "employmentType",
                            "educationDegree",
                            "workPermit"
                        ]
                    },
                    {
                        "name": "sortByDirection",
                        "in": "query",
                        "description": "Sort direction, ascending or descending.\nThis option is not available for a relevancy sort.  Relevancy sorts are always returned in descending order",
                        "type": "string",
                        "enum": [
                            "asc",
                            "desc"
                        ]
                    },
                    {
                        "name": "excludeThirdParty",
                        "in": "query",
                        "description": "\nWhen true, search results will exclude candidates being represented by a recruiter. When this parameter is false or absent entirely, search results may contain a mix of candidates representing themselves and candidates represented by a recruiter.",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "dateResumeLastUpdated",
                        "in": "query",
                        "description": "Include only people that updated their resume in the last x number of days.\n",
                        "type": "integer"
                    },
                    {
                        "name": "companyKeyword",
                        "in": "query",
                        "description": "Finds candidates that have worked for a specified company. To search for an exact phrase, enclose the phrase in quotation marks: company=\"DHI Inc\". The search is case-insensitive.\nThe search supports logical operators AND/OR: term1 OR term2",
                        "type": "string"
                    },
                    {
                        "name": "skillsKeyword",
                        "in": "query",
                        "description": "Finds candidates that have worked for a specified skills. To search for an exact phrase, enclose the phrase in quotation marks: company=\"Java OR SQL\". The search is case-insensitive.\nThe search supports logical operators AND/OR: term1 OR term2",
                        "type": "string"
                    },
                    {
                        "name": "jobTitleKeyword",
                        "in": "query",
                        "description": "Filter.\nSpecifies the job title.\nTo search for an exact phrase, enclose the phrase in quotation marks: jobTitle=\"exact phrase\". The search is case-insensitive.\nThe search supports logical operators AND/OR: term1 OR term2.\nExample: Software Engineer",
                        "type": "string"
                    },
                    {
                        "name": "onlyWithSecurityClearance",
                        "in": "query",
                        "description": "Filter for candidates with security clearance\nNOTE: If set to false, the filter is ignored",
                        "type": "boolean"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Filters candidates to those having the specified language(s).\nThe search supports logical operators AND/OR: term1 OR term2\nExample: Italian or Spanish AND english or Spanish OR English",
                        "type": "string"
                    },
                    {
                        "name": "excludeFounders",
                        "in": "query",
                        "description": "Filters out founders of a company.\nNOTE: If set to false, the filter is ignored",
                        "type": "boolean"
                    },
                    {
                        "name": "hasPatent",
                        "in": "query",
                        "description": "Filters candidates to only those having a patent application in its name.\nNOTE: If set to false, the filter is ignored",
                        "type": "boolean"
                    },
                    {
                        "name": "skillYearsOfExperience",
                        "in": "query",
                        "description": "Specifies skills with number of years of experience of that skill. Supplied as an array of term|years pairs.\nTo search for an exact phrase, enclose the phrase in quotation marks as part of the term: \"exact phrase\". The search is case-insensitive and supports logical operators AND/OR as part of the term.\n\nExamples: [\"JAVA OR J2EE|5\"], [\"PHP|10\"] or [\"PHP AND SQL|5\"]. Note: [\"PHP|5 AND SQL|10\"] is not a supported format for this parameter, and should be passed in as separate pairs.\n\nThe provided value should be an array where every term|year pair will be treated as an AND. So [\"PHP|8\", \"SQL|5\"] will return profiles which have 8 years of PHP experience, and 5 years of SQL experience.\n\nFor more complicated queries such as [\"PHP|8\", \"Apache OR Nginx AND FPM|3\", \"REST OR SOAP|3\"], each individual term will be parsed as a boolean query, and then queried against in the index.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "workPermitLocation",
                        "in": "query",
                        "description": "Filters profiles to only those having the provided work permit location(s) in its index data. To search for an exact phrase, enclose the phrase in quotation marks: \"exact phrase\". Example: usa or mexico AND canada or canada OR usa",
                        "type": "string"
                    },
                    {
                        "name": "likelyToMove",
                        "in": "query",
                        "description": "A json object . likelyToMove {\nmin (integer, optional): Finds only people whose likely to move score is above the specified value. Accepted values between 0 and 100 ,\n\nmax (integer, optional): Finds only people whose likely to move score is below the specified value. Accepted values between 0 and 100 ,\n\nboostExclusive (boolean, optional): If true, uses \"exclusive\" matching on candidates who are likely to move. Otherwise, the default \"inclusive\" matching is used.\n}",
                        "type": "string"
                    },
                    {
                        "name": "companyCurrent",
                        "in": "query",
                        "description": "Use in conjunction with company parameter to return results where the current company matches.",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/profilesearchresponse"
                        }
                    },
                    "400": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "403": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "429": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "500": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "502": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    },
                    "504": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/requesterror"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/profiles/{id}/report": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "operationId": "POST_profiles-id-report",
                "summary": "Report a Candidate",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "ReportType": {
                                    "type": "string",
                                    "enum": [
                                        "ThirdParty",
                                        "Misrepresented",
                                        "Other"
                                    ]
                                },
                                "AdditionalInfo": {
                                    "type": "string"
                                },
                                "ProfileName": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "ReportType"
                            ],
                            "example": {
                                "ReportType": "Misrepresented",
                                "AdditionalInfo": "ullamco cillum occaecat magna",
                                "ProfileName": "Duis in ea fugiat ipsu"
                            }
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "401": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    },
                    "504": {
                        "description": ""
                    }
                }
            }
        }
    },
    "responses": {
        "trait:201:201": {
            "description": ""
        },
        "trait:401403:401": {
            "description": ""
        },
        "trait:401403:403": {
            "description": ""
        },
        "trait:401403404:401": {
            "description": ""
        },
        "trait:401403404:403": {
            "description": ""
        },
        "trait:401403404:404": {
            "description": ""
        },
        "trait:400:400": {
            "description": "",
            "schema": {
                "$ref": "#/definitions/error"
            }
        }
    },
    "definitions": {
        "customer-response": {
            "title": "Customer Response",
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                },
                "status": {
                    "type": "string",
                    "enum": [
                        "Active",
                        "Inactive",
                        "Deleted"
                    ]
                },
                "customerContact": {
                    "$ref": "#/definitions/customercontact"
                },
                "externalId": {
                    "type": "integer"
                },
                "primaryCompanyId": {
                    "type": "integer"
                },
                "userName": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "customerPermissions": {
                    "$ref": "#/definitions/customerpermissions"
                },
                "memberCompanyList": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "preferences": {
                    "$ref": "#/definitions/preferences"
                },
                "activeCompanyId": {
                    "type": "integer"
                }
            },
            "example": {
                "id": "integer (required)",
                "status": "string (required)",
                "customerContact": {
                    "id": "string (required)",
                    "firstName": "string (required)",
                    "lastName": "string (required)",
                    "middleName": "string (required)",
                    "emailAddress": "string (required)",
                    "phoneNumber": "string (required)",
                    "phoneNumberExt": "string (required)",
                    "altPhoneNumber": "string (required)",
                    "altPhoneNumberExt": "string (required)",
                    "faxPhoneNumber": "string (required)",
                    "faxPhoneNumberExt": "string (required)",
                    "addressOne": "string (required)",
                    "addressTwo": "string (required)",
                    "country": "string (required)",
                    "municipality": "string (required)",
                    "region": "string (required)",
                    "postalCode": "string (required)",
                    "jobPostingEmail": "string (required)",
                    "url": "string (required)",
                    "twitterHandle": "string (required)"
                },
                "externalId": "integer (required)",
                "primaryCompanyId": "integer (required)",
                "userName": "string (required)",
                "password": "string (required)",
                "customerPermissions": {
                    "dtnCommunications": "boolean (required)",
                    "companyProfileAdmin": "boolean (required)",
                    "companyNetworkAdmin": "boolean (required)",
                    "recruiterNetworkProfile": "boolean (required)",
                    "companyNetworkTMTab": "boolean (required)",
                    "groupAccountAdmin": "boolean (required)",
                    "groupAdd": "boolean (required)",
                    "groupView": "boolean (required)",
                    "groupUpdate": "boolean (required)",
                    "groupDelete": "boolean (required)",
                    "userView": "boolean (required)",
                    "userUpdate": "boolean (required)",
                    "userAddPrimaryGroupUsers": "boolean (required)",
                    "userViewPrimaryGroupUsers": "boolean (required)",
                    "userEditPrimaryGroupUsers": "boolean (required)",
                    "userDeletePrimaryGroupUsers": "boolean (required)",
                    "userAddAll": "boolean (required)",
                    "userViewAll": "boolean (required)",
                    "userEditAll": "boolean (required)",
                    "userDeleteAll": "boolean (required)",
                    "jobListingAdmin": "boolean (required)",
                    "jobAdd": "boolean (required)",
                    "jobView": "boolean (required)",
                    "jobUpdate": "boolean (required)",
                    "jobDelete": "boolean (required)",
                    "siteAdmin": "boolean (required)",
                    "siteSeekerManagement": "boolean (required)",
                    "siteEmployerManagement": "boolean (required)",
                    "siteMetroAreaManagement": "boolean (required)",
                    "sitePartnerManagement": "boolean (required)",
                    "siteAdManagement": "boolean (required)",
                    "siteReports": "boolean (required)",
                    "openWebSearch": "boolean (required)",
                    "talentMatchSearch": "boolean (required)",
                    "diceSelect": "boolean (required)",
                    "candidateMatchPermission": "boolean (required)",
                    "companyPermissions": {
                        "id": "integer (required)",
                        "status": "string (required)",
                        "customerContact": {
                            "id": "string (required)",
                            "firstName": "string (required)",
                            "lastName": "string (required)",
                            "middleName": "string (required)",
                            "emailAddress": "string (required)",
                            "phoneNumber": "string (required)",
                            "phoneNumberExt": "string (required)",
                            "altPhoneNumber": "string (required)",
                            "altPhoneNumberExt": "string (required)",
                            "faxPhoneNumber": "string (required)",
                            "faxPhoneNumberExt": "string (required)",
                            "addressOne": "string (required)",
                            "addressTwo": "string (required)",
                            "country": "string (required)",
                            "municipality": "string (required)",
                            "region": "string (required)",
                            "postalCode": "string (required)",
                            "jobPostingEmail": "string (required)",
                            "url": "string (required)",
                            "twitterHandle": "string (required)"
                        },
                        "externalId": "integer (required)",
                        "primaryCompanyId": "integer (required)",
                        "userName": "string (required)",
                        "password": "string (required)",
                        "memberCompanyList": [
                            "integer"
                        ],
                        "preferences": {
                            "preferencesId": "string (required)",
                            "customerId": "string (required)",
                            "recruiterId": "string (required)",
                            "onLogin": "string (required)",
                            "jobTypeId": "string (required)",
                            "searchAgentId": "string (required)",
                            "taxTerm": "string (required)",
                            "tmViewPref": "string (required)",
                            "tmFileFormat": "string (required)",
                            "locationCity": "string (required)",
                            "locationState": "string (required)",
                            "locationAreaCode": "string (required)",
                            "jobComment": "string (required)",
                            "jobSeqNum": "string (required)",
                            "applicationMethod": "string (required)",
                            "application": "string (required)",
                            "dashboardJobNum": "string (required)",
                            "dashboardJobStatus": "string (required)",
                            "applicationCcEmail": "string (required)",
                            "locationPostalCode": "string (required)",
                            "employmentTypes": [
                                {
                                    "abbr": "string (optional)",
                                    "desc": "string (optional)",
                                    "order": "integer (optional)",
                                    "profileTermId": "integer (optional)",
                                    "type": "string (optional)"
                                }
                            ],
                            "displayPriPhone": "boolean (required)",
                            "displayAltPhone": "boolean (required)",
                            "displayPriExt": "boolean (required)",
                            "displayAltExt": "boolean (required)",
                            "displayFax": "boolean (required)",
                            "displayEmail": "boolean (required)",
                            "useLast": "boolean (required)",
                            "tmNumJobsDisplay": "boolean (required)",
                            "numJobsDisplay": "boolean (required)",
                            "displayPersonName": "boolean (required)",
                            "displayAddrLine1": "boolean (required)",
                            "displayAddrLine2": "boolean (required)",
                            "displayCity": "boolean (required)",
                            "displayState": "boolean (required)",
                            "displayZipCode": "boolean (required)",
                            "displayDashboardJobs": "boolean (required)",
                            "displayDashboardCandidatesFolder": "boolean (required)",
                            "displayDashboardTM": "boolean (required)",
                            "displayDashboardSA": "boolean (required)",
                            "displayDashboardTalentNetwork": "boolean (required)",
                            "displayDashboardResourceCenter": "boolean (required)",
                            "integratedProfileOptOut": "boolean (required)",
                            "integratedSearchOptOut": "boolean (required)",
                            "employerAppDashboardOptOut": "boolean (required)",
                            "countryAccess": [
                                "string"
                            ],
                            "localization": "string (required)",
                            "contractInfoModifiedDate": "string (required)"
                        },
                        "activeCompanyId": "integer (required)"
                    }
                },
                "memberCompanyList": [
                    "integer"
                ],
                "preferences": {
                    "preferencesId": "string (required)",
                    "customerId": "string (required)",
                    "recruiterId": "string (required)",
                    "onLogin": "string (required)",
                    "jobTypeId": "string (required)",
                    "searchAgentId": "string (required)",
                    "taxTerm": "string (required)",
                    "tmViewPref": "string (required)",
                    "tmFileFormat": "string (required)",
                    "locationCity": "string (required)",
                    "locationState": "string (required)",
                    "locationAreaCode": "string (required)",
                    "jobComment": "string (required)",
                    "jobSeqNum": "string (required)",
                    "applicationMethod": "string (required)",
                    "application": "string (required)",
                    "dashboardJobNum": "string (required)",
                    "dashboardJobStatus": "string (required)",
                    "applicationCcEmail": "string (required)",
                    "locationPostalCode": "string (required)",
                    "employmentTypes": [
                        {
                            "abbr": "string (optional)",
                            "desc": "string (optional)",
                            "order": "integer (optional)",
                            "profileTermId": "integer (optional)",
                            "type": "string (optional)"
                        }
                    ],
                    "displayPriPhone": "boolean (required)",
                    "displayAltPhone": "boolean (required)",
                    "displayPriExt": "boolean (required)",
                    "displayAltExt": "boolean (required)",
                    "displayFax": "boolean (required)",
                    "displayEmail": "boolean (required)",
                    "useLast": "boolean (required)",
                    "tmNumJobsDisplay": "boolean (required)",
                    "numJobsDisplay": "boolean (required)",
                    "displayPersonName": "boolean (required)",
                    "displayAddrLine1": "boolean (required)",
                    "displayAddrLine2": "boolean (required)",
                    "displayCity": "boolean (required)",
                    "displayState": "boolean (required)",
                    "displayZipCode": "boolean (required)",
                    "displayDashboardJobs": "boolean (required)",
                    "displayDashboardCandidatesFolder": "boolean (required)",
                    "displayDashboardTM": "boolean (required)",
                    "displayDashboardSA": "boolean (required)",
                    "displayDashboardTalentNetwork": "boolean (required)",
                    "displayDashboardResourceCenter": "boolean (required)",
                    "integratedProfileOptOut": "boolean (required)",
                    "integratedSearchOptOut": "boolean (required)",
                    "employerAppDashboardOptOut": "boolean (required)",
                    "countryAccess": [
                        "string"
                    ],
                    "localization": "string (required)",
                    "contractInfoModifiedDate": "string (required)"
                },
                "activeCompanyId": "integer (required)"
            }
        },
        "error": {
            "title": "Error",
            "type": "object",
            "properties": {
                "error_code": {
                    "type": "integer",
                    "description": ""
                },
                "message": {
                    "type": "string",
                    "description": "Message that would help a developer figure out the issue"
                },
                "field_messages": {
                    "type": "array",
                    "description": "",
                    "items": {
                        "$ref": "#/definitions/error-message"
                    }
                }
            }
        },
        "link": {
            "title": "link",
            "type": "object",
            "properties": {
                "rel": {
                    "type": "string",
                    "description": "This should be \"self\" for one of the links in the list."
                },
                "href": {
                    "type": "string",
                    "format": "uri"
                }
            },
            "required": [
                "rel",
                "href"
            ]
        },
        "error-message": {
            "title": "Message",
            "type": "object",
            "properties": {
                "field": {
                    "type": "string",
                    "description": "The name of the field that errored"
                },
                "error_code": {
                    "type": "integer",
                    "description": "The unique code used to identify the error"
                },
                "message": {
                    "type": "string",
                    "description": "The reason why the field errored"
                }
            }
        },
        "search-model": {
            "title": "Search Model",
            "type": "object",
            "properties": {
                "searchParameters": {
                    "type": "object",
                    "properties": {
                        "q": {
                            "type": "string",
                            "description": "Specifies a full-text query string across all search fields.\n\nWhen creating a query, list search terms separated by spaces, in the form q=term1 term2 term3; spaces must be URL encoded.\n\nThe search is case-insensitive.\n\nTo search for an exact phrase, enclose the phrase in quotation marks: q=\"exact phrase\".\n\nThe search supports logical operators AND/OR: q=term1 OR term2\nExample: \"Mechanical Engineer\" OR mechanic\n"
                        },
                        "location": {
                            "type": "string",
                            "description": "Specifies the central location of the search.   Can enter lat,long\nExample  location=London\nExample location=41.3434,19.332\n\nEither q or location or both are required for a search"
                        },
                        "sortBy": {
                            "type": "string",
                            "default": "relevancy",
                            "description": "",
                            "enum": [
                                "relevancy",
                                "activityDate",
                                "dateResumeLastUpdated"
                            ]
                        },
                        "page": {
                            "type": "integer",
                            "default": 1,
                            "description": "Valid range is 1 to 50",
                            "minimum": 1,
                            "maximum": 1000
                        },
                        "pageSize": {
                            "type": "integer",
                            "default": 25,
                            "description": "Specifies the number of profiles returned per page",
                            "minimum": 1,
                            "maximum": 100
                        },
                        "distance": {
                            "type": "integer",
                            "description": "Specifies the distance from the central location.\nExample: 25.",
                            "default": 50
                        },
                        "distanceUnit": {
                            "type": "string",
                            "default": "miles",
                            "description": "Specifies the distance unit of measure to use. ",
                            "enum": [
                                "miles",
                                "km"
                            ]
                        },
                        "countryCode": {
                            "type": "array",
                            "description": "Specifies the ISO 3166-1 Alpha 2 country code of the search.\nMultiple values can be specified using  commas, example US,GB.  ",
                            "items": {
                                "type": "string"
                            }
                        },
                        "hasEmail": {
                            "type": "boolean",
                            "description": "When True filters results to only those profiles having an email address."
                        },
                        "hasPhoneNumber": {
                            "type": "boolean",
                            "description": "When True filters results to only those profiles having a phone number."
                        },
                        "willingToRelocate": {
                            "type": "boolean",
                            "description": "Set to true to only include candidates willing to relocate. If a location is set on the search as well, exclude candidates currently in that location and include candidates with a preferred work area of that location or an unspecified preferred work area.\nNOTE: If set to false, the filter is ignored"
                        },
                        "searchType": {
                            "type": "string",
                            "default": "Integrated",
                            "description": "Candidate types that are being searched. ",
                            "enum": [
                                "Resume",
                                "OpenWeb",
                                "Integrated"
                            ]
                        },
                        "company": {
                            "type": "string",
                            "description": "Specifies a company from the company facet.\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported."
                        },
                        "skills": {
                            "type": "string",
                            "description": "Specifies a skill from the skill facet (case sensitive).\nMultiple values can be specified by either a comma (,) or a caret (^). A comma indicates OR; a caret indicates AND. Note that parentheses are not supported and operators cannot be combined. \nExamples: skills=Java,Python,JavaScript or skills=Java^PHP^MySQL"
                        },
                        "input": {
                            "type": "string",
                            "description": "Used for IntelliSearch, text to be analysed, locations, skills, job titles and companies will be extracted from it.  The text must contain a skill to match on."
                        },
                        "educationDegree": {
                            "type": "string",
                            "description": "Specifies an education degree from the education degree facet\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                            "enum": [
                                "",
                                "high school",
                                "bachelors",
                                "associate",
                                "vocational school",
                                "masters",
                                "military service",
                                "mba"
                            ]
                        },
                        "workPermit": {
                            "type": "string",
                            "description": "Specifies a work permit from the work permits facet\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                            "enum": [
                                "",
                                "us citizenship",
                                "green card",
                                "employment auth document",
                                "have h1",
                                "need h1",
                                "have j1",
                                "tn permit holder"
                            ]
                        },
                        "employmentType": {
                            "type": "string",
                            "description": "Specifies an employment from the employment type facet\nMultiple values can be specified by either a comma or a caret (^); a comma indicates OR where a cart indicates AND. Note that neither parentheses nor a mix of comma and caret are supported.",
                            "enum": [
                                "",
                                "full-time",
                                "contract - w2",
                                "contract to hire - w2",
                                "contract to hire - independent",
                                "contract - independent",
                                "part-  time",
                                "contract to hire - corp-to-corp",
                                "contract - corp-to-corp",
                                "1099 employee",
                                "announced",
                                "corp-to-corp",
                                "eb-1",
                                "eb-2",
                                "eb-3",
                                "h-1b",
                                "h-4",
                                "independent",
                                "j-1",
                                "j-2",
                                "tax term",
                                "w-2",
                                "w-2 / 1099"
                            ]
                        },
                        "annualSalary": {
                            "type": "string",
                            "default": "",
                            "description": "Desired annual salary.  For a salary range [50000 TO 60000]  "
                        },
                        "hourlyRate": {
                            "type": "string",
                            "description": "Desired hourly rate of pay.  For a rate range you can send [50 TO 60] "
                        },
                        "currencyCode": {
                            "type": "string",
                            "default": "USD",
                            "description": "Specifies the currency to use when filtering by annual salary or hourly rate.  By default currency is not restricted",
                            "enum": [
                                "",
                                "USD",
                                "GBP",
                                "EUR",
                                "CAD"
                            ]
                        },
                        "lastActive": {
                            "type": "integer",
                            "description": "Include only people that were active (logged in to their profile) in the last x number of days."
                        },
                        "yearsOfExperience": {
                            "type": "string",
                            "description": "Filters results to only those where the time of experience is at least x or more years, or in the range.\n\nExample   4 \nExample  [ 0 to 3]"
                        },
                        "socialProfiles": {
                            "type": "array",
                            "description": "Filter to return candidates with accounts from certain sites, e.g. github, stackoverflow, twitter\n\nWe support several hundred sites, but our list changes so we are choosing not to publish the list.",
                            "items": {
                                "type": "string"
                            }
                        },
                        "likelyToSwitch": {
                            "type": "boolean",
                            "description": "When set to true, candidates are filtered to those who have logged in during the past 60 days or those who have shown cues related to job switching."
                        },
                        "facets": {
                            "type": "string",
                            "default": "",
                            "description": "The name of the facet(s) to include in the response. Example facets=company,skills,jobTitle,employmentType,educationDegree,workPermit",
                            "enum": [
                                "",
                                "company",
                                "skills",
                                "jobTitle",
                                "employmentType",
                                "educationDegree",
                                "workPermit"
                            ]
                        },
                        "sortByDirection": {
                            "type": "string",
                            "description": "Sort direction, ascending or descending.\nThis option is not available for a relevancy sort.  Relevancy sorts are always returned in descending order",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        },
                        "excludeThirdParty": {
                            "type": "boolean",
                            "default": false,
                            "description": "\nWhen true, search results will exclude candidates being represented by a recruiter. When this parameter is false or absent entirely, search results may contain a mix of candidates representing themselves and candidates represented by a recruiter."
                        },
                        "dateResumeLastUpdated": {
                            "type": "integer",
                            "description": "Include only people that updated their resume in the last x number of days.\n"
                        },
                        "companyKeyword": {
                            "type": "string",
                            "description": "Finds candidates that have worked for a specified company. To search for an exact phrase, enclose the phrase in quotation marks: company=\"DHI Inc\". The search is case-insensitive.\nThe search supports logical operators AND/OR: term1 OR term2"
                        },
                        "skillsKeyword": {
                            "type": "string",
                            "description": "Finds candidates that have worked for a specified skills. To search for an exact phrase, enclose the phrase in quotation marks: company=\"Java OR SQL\". The search is case-insensitive.\nThe search supports logical operators AND/OR: term1 OR term2"
                        },
                        "jobTitleKeyword": {
                            "type": "string",
                            "description": "Filter.\nSpecifies the job title.\nTo search for an exact phrase, enclose the phrase in quotation marks: jobTitle=\"exact phrase\". The search is case-insensitive.\nThe search supports logical operators AND/OR: term1 OR term2.\nExample: Software Engineer"
                        },
                        "onlyWithSecurityClearance": {
                            "type": "boolean",
                            "description": "Filter for candidates with security clearance\nNOTE: If set to false, the filter is ignored"
                        },
                        "language": {
                            "type": "string",
                            "description": "Filters candidates to those having the specified language(s).\nThe search supports logical operators AND/OR: term1 OR term2\nExample: Italian or Spanish AND english or Spanish OR English"
                        },
                        "excludeFounders": {
                            "type": "boolean",
                            "description": "Filters out founders of a company.\nNOTE: If set to false, the filter is ignored"
                        },
                        "hasPatent": {
                            "type": "boolean",
                            "description": "Filters candidates to only those having a patent application in its name.\nNOTE: If set to false, the filter is ignored"
                        },
                        "skillYearsOfExperience": {
                            "type": "array",
                            "description": "Specifies skills with number of years of experience of that skill. Supplied as an array of term|years pairs.\nTo search for an exact phrase, enclose the phrase in quotation marks as part of the term: \"exact phrase\". The search is case-insensitive and supports logical operators AND/OR as part of the term.\n\nExamples: [\"JAVA OR J2EE|5\"], [\"PHP|10\"] or [\"PHP AND SQL|5\"]. Note: [\"PHP|5 AND SQL|10\"] is not a supported format for this parameter, and should be passed in as separate pairs.\n\nThe provided value should be an array where every term|year pair will be treated as an AND. So [\"PHP|8\", \"SQL|5\"] will return profiles which have 8 years of PHP experience, and 5 years of SQL experience.\n\nFor more complicated queries such as [\"PHP|8\", \"Apache OR Nginx AND FPM|3\", \"REST OR SOAP|3\"], each individual term will be parsed as a boolean query, and then queried against in the index.",
                            "items": {
                                "type": "string"
                            }
                        },
                        "workPermitLocation": {
                            "type": "string",
                            "description": "Filters profiles to only those having the provided work permit location(s) in its index data. To search for an exact phrase, enclose the phrase in quotation marks: \"exact phrase\". Example: usa or mexico AND canada or canada OR usa"
                        },
                        "likelyToMove": {
                            "type": "string",
                            "description": "A json object . likelyToMove {\nmin (integer, optional): Finds only people whose likely to move score is above the specified value. Accepted values between 0 and 100 ,\n\nmax (integer, optional): Finds only people whose likely to move score is below the specified value. Accepted values between 0 and 100 ,\n\nboostExclusive (boolean, optional): If true, uses \"exclusive\" matching on candidates who are likely to move. Otherwise, the default \"inclusive\" matching is used.\n}"
                        },
                        "companyCurrent": {
                            "type": "boolean",
                            "description": "Used in conjunction with the company parameter to return results whose current company matches if set to true."
                        }
                    }
                }
            },
            "example": {
                "searchParameters": {
                    "q": "cillum",
                    "location": "dolore tempor eu in",
                    "sortBy": "dateResumeLastUpdated",
                    "page": 755,
                    "pageSize": 53,
                    "distance": -53724695,
                    "distanceUnit": "miles",
                    "countryCode": [
                        "anim laborum la",
                        "minim in",
                        "irure ex id sunt consectetur",
                        "ipsum dolor sunt dolore labore",
                        "elit Lorem"
                    ],
                    "hasEmail": false,
                    "hasPhoneNumber": true,
                    "willingToRelocate": true,
                    "searchType": "Integrated",
                    "company": "Ut irure dolor non do",
                    "skills": "ad incididunt",
                    "input": "irure aliqua",
                    "educationDegree": "high school",
                    "workPermit": "",
                    "employmentType": "w-2",
                    "annualSalary": "nulla do",
                    "hourlyRate": "fugiat eu ex",
                    "currencyCode": "EUR",
                    "lastActive": 84167806,
                    "yearsOfExperience": "ipsum",
                    "socialProfiles": [
                        "consequat id ad laborum",
                        "tempor",
                        "minim",
                        "officia nostrud amet occaecat tempor",
                        "ut culpa amet Ut"
                    ],
                    "likelyToSwitch": false,
                    "facets": "skills",
                    "sortByDirection": "asc",
                    "excludeThirdParty": true,
                    "dateResumeLastUpdated": 24261234,
                    "companyKeyword": "reprehenderit",
                    "skillsKeyword": "volupt",
                    "jobTitleKeyword": "nulla est consequat",
                    "onlyWithSecurityClearance": true,
                    "language": "nisi est consectetur eu",
                    "excludeFounders": true,
                    "hasPatent": true,
                    "skillYearsOfExperience": [
                        "in proident Lorem sunt nu"
                    ],
                    "workPermitLocation": "laboris",
                    "likelyToMove": "minim deserunt aliqua Excepteur tempor",
                    "companyCurrent": false
                }
            }
        }
    }
}